#hero{
    background-attachment: fixed;
    width: 100%;
    position: relative;
}
#hero h1 {
    position: absolute;
    top: 340px;
    left: 100px;
    font-size: 40px;
    text-align: center;
}
#hero p {
    width: 100%;
    position: absolute;
    top: 412px;
    left: 50px;
    font-size: 20px;
    text-align: center;
}
#hero .Resume {
    width: 45%;
    position: absolute;
    left: 228px;
    top: 516px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}

#header{
    display: none;
}

#mobile{
    display: block;
}
section {
    margin-left: 0;
}
#hero .Resume {
    position: absolute;
    left: 200px;
    top: 482px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
}
/*
.close{
    display: inline;
} */

/* About Section */
#about {
    margin-left: 0  ;
}

.row .img-fluid {
    width: 60%;
    height: auto;
    margin-left: 8px;
}

.about .content h3 {
    margin-top: 40px;
}
#skills {
    margin-left: 0px;
}
#resume {
    margin-left: 0px;
}
/* contact page */
#contact{
    margin-left:0
}

.contact .info {
    margin-bottom: 50px;
}

iframe {
    width: 100%;
}

#footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
}
#footer .copyright {
text-align: center;
}